.super-mario {
    position: relative;
    width: 200px;
}
  
.goomba {
    position: absolute;
    width: 100px;
    top: 400px;
    left: 60px;
}
  
.baloon {
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 1;
}
  
.speach {
    font-size: 25px;
}
  
.bowser {
    position: absolute;
    width: 200px;
    top: 350px;
    left: 450px;
}

p {
    position: absolute;
    top: 190px;
    left: 220px;
    z-index: 2;
}